.homecontainer{
    /* background-color: #AE445A; */
    background-color: rgb(237, 200, 200);
    width: 65%;
    height: 80vh;
    margin: auto;
    display: flex;
    border-radius: 2%;

}
.container{
    padding-top: 5%;
}
.menucontainer{
    /* background-color: #AE445A; */
    /* background-color: #d9637b; */
    /* background-color: yellow; */
    /* margin-right: auto; */
    height: 100%;
    width: 40%;
    border-right: 2px solid rgb(22, 21, 21);
    /* height: max-content; */
    /* text-align: center; */
    overflow-y: scroll;
    scrollbar-width: none;

}
.menucontainer::-webkit-scrollbar{
    display: none;
}
.chatcontainer{
    /* background-color: rgb(211, 246, 18); */
    /* margin-left: auto; */
    height: 100%;
    width: 60%;
    /* display: flex; */
    background-color: aqua;
    display: none;
}

.homeinputcontainer{
    text-align: center;
    position: relative;

}
.homeinput{
    width: 35%;
    height: 35px;
    margin: 10px auto;
    border: none;
    background-color: rgb(237, 200, 200);
    border-radius: 5px ;
    border-bottom: 5px solid #AE445A;
    color: #AE445A;
}
.searchuserresult{
    width: 35%;
    height: fit-content;
    margin: -12px 32.5%;
    position: absolute;
    background-color: rgb(237, 200, 200) ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchuserdetail{
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 5px;
}
.homeinput::placeholder{
    color: #AE445A;
    text-align: center;
}
.homeinput:focus{
    outline: none;
    font-size: medium;
    height: 40px;
}

h1{
    color: white;
}

.chatmenu{
    width: 100%;
    height: 8vh;
    /* background-color: yellow; */
    /* background-color: #F39F5A; */
    /* background-color: rgb(237, 200, 200); */
    background-color: #AE445A;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}
.chatmenuavatar{
    width: 23%;
    height: 100%;
}
.chatmenuavatarimg{
    border-radius: 50%;
    width: 56%;
    height: 80%;
    margin: auto;
    display: flex;
    margin-top: 4px;
}
.chatmenupeople{
    width: 77%;
    height: 100%;
    /* background-color: greenyellow; */
}

.chatmenupeoplename{
    width: 100%;
    height: 50%;
    /* background-color: aliceblue; */
    display: flex;
    
}

.lastmessage{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    text-align: left;
    color: white;
}
.peoplename{
    width: 75%;
    height: 100%;
    /* background-color: blue; */
    text-align: left;
    color: white;

}
.lastmsgdate{
    width: 25%;
    height: 100%;
    /* background-color: blueviolet; */
    text-align: left;
    color: white;
}
/* p{
    margin-top: 2%;
    margin-left: 2%;
} */


.chatbox{
    width: 100%;
    height: 80%;
    /* background-color: aliceblue; */
    background-color: rgb(237, 200, 200);
    display: flex;
    overflow-y: scroll;

    
    /* margin-top: 1%; */
}
.chatbox::-webkit-scrollbar{
    visibility: hidden;
}
.subchatcontainer{
    width: 100%;
    height: 100%;
}
.messageinput{
    width: 70%;
    height: 5vh;
    margin: 1%;
    border-radius: 5px;
    outline: none;
    border: none;
}

.messageinput:focus{
    outline: none;
}

.messagebutton{
    width: 16%;
    height: 5vh;
    margin: 1%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #481d25;
    color: white;
}
.messagebutton:hover{
    cursor: pointer;
}

.recievechat{
    /* background-color: yellow; */
    width: 100%;
    /* background-color: yellowgreen; */
    margin-top: 10px;
}

.sendchat{
    /* background-color: green; */
    width: 100%;
    /* background-color: yellow; */
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.chatmessage{
    width: 100%;
    height: 100%;
    margin: 1%;
}
.recievetext{
    padding: 2%;
    background-color: #AE445A;
    border-radius: 5px;
    width: max-content;
}
.sendtext{
    padding: 2%;
    background-color: #AE445A;
    border-radius: 5px;
    max-width: max-content;
}

.dotscontainer{
    width: max-content;
    height: 100%;
    text-align: center;
    position: relative;
}

.dotscontainermenu{
    position: absolute;
    background-color: white;
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border-bottom: 5px solid #F39F5A;
}
.dotscontainer:hover{
    cursor: pointer;
}
.dotscontainermenuitems{
    padding: 6px;
    margin: 4px;
}

.dotscontainermenuitems:hover{
    background-color: #F39F5A;
}